/* src/App.css */
/* Esto asegura que la pantalla ocupe todo el alto */
#root {
  width: 100%;
}

body {
  margin: 0;
  background-color: #f4f6f9;
  overflow-x: hidden;
}

/* La barra lateral negra */
.sidebar {
  min-width: 250px;
  max-width: 250px;
  min-height: 100vh; /* Altura completa de la pantalla */
}

/* El contenido blanco de la derecha */
.main-content {
  flex-grow: 1; /* Ocupa todo el espacio restante */
  width: 100%;
}