/* src/App.css */
body {
  margin: 0;
  padding: 0;
  background-color: #f4f6f9; /* Color gris claro de fondo como en tu foto */
  overflow-x: hidden;
}

.sidebar {
  min-width: 250px;
  max-width: 250px;
  min-height: 100vh;
}

.main-content {
  width: 100%;
}

.nav-link:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}